/* Área geral */
.foto-perfil-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-bottom: 25px;
}

/* Imagem de perfil */
#fotoPerfil {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #156783;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover elegante */
#fotoPerfil:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

/* Formulário */
#form-foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Input file */
#inputFoto {
    font-size: 14px;
}

/* Botão */
#form-foto-perfil button {
    background: #156783;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

#form-foto-perfil button:hover {
    background: #7399a6;
    transform: translateY(-2px);
}