.input-busca-lojas {
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 10px 12px;
    margin-bottom: 12px;

    border-radius: 8px;
    border: none;
    outline: none;

    font-size: 18px;
    background: rgba(255,255,255,0.9);

    transition: 0.15s;
}

.input-busca-lojas:focus {
    background: white;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.25);
}